body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
#Play
{
    font-size: 23px;
    margin: 15px;
}
canvas
{
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    width: 600px;
    height: 500px;
}
